body			{background-color:#F0F0F0; font-family:Lucida Grande, Junicode, Times New Roman, serif; font-size:14pt; width: 100%; height: 100%;}
td				{font-family:Lucida Grande, Junicode, Times New Roman, serif; font-size:14pt;}
h1 				{ font-family:Lucida Grande, Arial, Junicode, Times New Roman, serif; font-size:12pt; font-weight:bold;}
h2				{ font-family:Lucida Grande, Arial, Junicode, Times New Roman, serif; font-size:12pt; }

table {
	box-sizing: border-box;
	min-width: 30%;
}

a:link		{ text-decoration:none; color:blue }
a:visited	{ text-decoration:none; color:blue }
a:hover		{ text-decoration:none; color:blue }
a:active	{ text-decoration:none; color:blue }

.init			{ color:red; font-size:16pt; line-height: 16px; }
.zinit		{ color:red; font-size:16pt }
.xinit		{ color:red; font-size:12pt }
.minit		{ color:red; font-size:30pt }
.hvh			{ color:#FF6600; }
.chvh			{ color:#FF6600; font-size:14pt }
.xhvh			{ color:#FF6600; font-size:10pt }
.d      	{ text-decoration:line-through; }
.k				{ color:green; } 
.ls  			{ color:#33FFFF; }
.n      	{ color:#33FFFF; }  
.r				{ background-color:gray }
.si1			{ color:red; font-size:17pt; background-color:gold; line-height: 16px;}
.sr	    	{ color:green; }
.sr1	  	{ color:green; }
.sr2	  	{ color:green; }
.sr3	  	{ color:green; }
.sr4	  	{ color:green; }
.sr?	  	{ color:green; }



.del			{ text-decoration:line-through; }
.ras			{ background-color:gray }
.nota			{ color:#33FFFF; }
.rekl			{ color:brown; }
.kust			{ color:brown; }

.versnr		{ font-weight:bold; margin-right:5px}

.cad			{ color:#FF6600; font-size:14pt}
.cadH			{ color:#FF6600; font-size:18pt}
.del			{ text-decoration:line-through; }
.strophenangabe { font-family: Arial, Helvetica, sans-serif; font-size:11pt; color:blue; font-weight:bold;}

.dynamisch		{  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold}
.fix					{  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold;}
  
.schreiber  	{font-variant:small-caps}
.blau       	{color:blue; font-size: 14pt;}
.blaukl				{color:blue;font-size: 11pt;}
.swkl				{color:black;font-size: 10pt;}
.seitenangabe	{color:blue; font-weight:bold;}
.ul						{ text-decoration:underline; }
.m          	{font-style:italic}

.rundeKlammern::before {
    content: "(";
}

.rundeKlammern::after {
    content: ")";
}

.pipe::before {
  content: "|";
}

.zitat {font-size: 12pt; font-family: Lucida Grande;
}
