html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.synopse-container {
	display: flex;
	height: 100%;
	position: relative;
}

#transcription, #image {
	border: none;
	height: 100%;
	position: relative;
	z-index: 0
}

#transcription {
	flex: 0 0 calc(60% - 10px); /* 5px margin on the right to create space for the handler */
}

#image {
	flex: 0 0 calc(40% - 10px); /* 5px margin on the left to create space for the handler */
}

.handler {
	position: absolute;
	top: 0;
	right: calc(40% - 10px); /* -10px to overlap with the margin between iframes */
	height: 100%;
	width: 20px;
	cursor: col-resize;
	background-color: #eee;
	z-index: 1;
}
